<div class="financials-input-group">
    <div>
        <span>{{header}}</span>
    </div>
    <div class="input-group financial-inputs">
        <div class="input-group-addon">Planned</div>
        <input class="form-control" type="number" ng-maxlength="{{maxLength}}" min="1" placeholder="" ng-model="ngModel.plan">
    </div>
    <div class="input-group financial-inputs">
        <div class="input-group-addon">Actuals</div>
        <input class="form-control" type="number" ng-maxlength="{{maxLength}}" min="1" placeholder="" ng-model="ngModel.actual">
    </div>
</div>