<div class="financials-input-group">
    <div>
        <span>{{header}}</span>
    </div>
    <div class="input-group financial-inputs">
        <div class="input-group-addon">Planned</div>
        <input class="form-control" type="number" ng-maxlength="2" min="1" max="99" placeholder="" size="2" >
    </div>
    <div class="input-group financial-inputs">
        <div class="input-group-addon">Actuals</div>
        <input class="form-control" type="number" ng-maxlength="2" min="1" max="99" placeholder="" >
    </div>
</div>