<div class="financials">
    <h3 id="region">{{financials.region}} {{financials.type}}</h3>
</div>

<div ng-show="!chartVisible">
    <table class="table table-hover table-striped table-bordered table-condensed financials-table">
        <thead>
        <tr>
            <th>Serial Number</th>
            <th>Description</th>
            <th>{{financials.data[0].ytd.period}} Plan</th>
            <th>{{financials.data[0].ytd.period}} Actual</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in financials.data" ng-click="showChart(true, row.indicator)" class="financial-row">
            <td>{{row.serialNumber}}</td>
            <td>{{row.indicator}}</td>
            <td>{{row.ytd.amounts.plan | currency:''}}</td>
            <td>{{row.ytd.amounts.actual | currency:''}}</td>
        </tr>
        </tbody>
    </table>
    <div>
        <form class="form-inline" role="form">
            <financial-input header="Average Bill Rates"></financial-input>
            <financial-input header="Average Utilization"></financial-input>
        </form>
        <div class="nav-buttons">
            <input ng-click="backToDashboard()" class="btn btn-default" type="button" id="back-btn"
                   value="Back to Dashboard">
        </div>
    </div>
</div>

<chart id="chart" ng-show="chartVisible" title="graphTitle" graph-type="graphType" xData="lineChartXData"
       yData="lineChartYData" xName="Month" yName="Value" subtitle="Plan and Actual vs Month"></chart>
<div ng-show="chartVisible" class="nav-buttons">
    <input ng-click="showChart(false)" class="btn btn-default" type="button" id="back-btn" value="Back">
</div>
