<div>
        <form action="" method="post" enctype="multipart/form-data">


        <div class='form-group'>
            <label for='sheet_name'>Sheet Name</label>
            <select id="sheet_name" class="form-control" ng-model="selectedSheetName" required="true" ng-required="true" ng-options="sheetName as sheetName for (sheetName, sheetData) in sheets">
                <option value="">---- Select a sheet ----</option>
            </select>
        </div>

        <input type="hidden" name="sheet_name" value="{{ selectedSheetName }}">

        <input type="submit" value="Submit">

        <div ng-show="showPreview">
            <table class="table table-bordered" ng-repeat="(sheetName, sheetData) in sheets" ng-show="sheetName == selectedSheetName">
                <thead>
                <tr>
                    <th ng-bind="sheetName"></th>
                </tr>
                </thead>
                <tr ng-repeat="row in sheetData.data">
                    <td ng-repeat="col in row" ng-bind="col"></td>
                </tr>
            </table>
        </div>
    </form>
</div>