<div class="financials">
    <div ng-show="!chartVisible">
        <div ng-hide="allIndicatorsAreSet()" class="alert alert-danger alert-error">
            <a class="close" data-dismiss="alert">×</a>
            Average Utilization and Bill Rates have not been set for all regions
        </div>
        <div class="panel panel-primary" id="financial-data">
            <!-- Default panel contents -->
            <div class="panel-heading">{{financials.region}} {{financials.type}}</div>
            <div class="panel-body">
                <!--table-->
                <table class="table table-hover table-striped table-condensed ">
                    <thead>
                    <tr>
                        <th>Serial #</th>
                        <th>Description</th>
                        <th>{{financials.data[0].ytd.period}} Plan</th>
                        <th>{{financials.data[0].ytd.period}} Actual</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in financials.data" ng-click="showChart(row.indicator)" class="financial-row">
                        <td>{{row.serialNumber}}</td>
                        <td>{{row.indicator}}</td>
                        <td>{{row.ytd.amounts.plan | currency:'' | typeFilter:row.type}}</td>
                        <td>{{row.ytd.amounts.actual | currency:'' | typeFilter:row.type}}</td>
                    </tr>
                    <tr ng-show="showUtilizationAndBillRate()">
                        <td>{{utilization.serialNumber}}</td>
                        <td>{{utilization.indicator}}</td>
                        <td>{{utilization.values.plan | currency:''}}</td>
                        <td>{{utilization.values.actual | currency:''}}</td>
                    </tr>
                    <tr ng-show="showUtilizationAndBillRate()">
                        <td>{{billRate.serialNumber}}</td>
                        <td>{{billRate.indicator}}</td>
                        <td>{{billRate.values.plan | currency:''}}</td>
                        <td>{{billRate.values.actual | currency:''}}</td>
                    </tr>

                    </tbody>
                </table>
                <!--end of table-->
            </div>
        </div>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{financials.region}} {{financials.type}}</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-inline" role="form" name="financialInputForm" novalidate="novalidate">
                            <ul>
                                <li>
                                    <span>someting</span>

                                </li>
                            </ul>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" ng-click="cancel()" class="btn btn-default" >Clear</button>
                        <button type="button" class="btn btn-primary" ng-click="saveChanges()" ng-disabled="!financialInputForm.$valid">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-buttons">
            <!--<button ng-show="allowBillRatesAndUtilizationEdits()" class="btn btn-default" data-toggle="modal" data-target="#myModal">Utilization & Bill Rates</button>-->
            <input ng-click="backToDashboard()" class="btn btn-primary" type="button" id="back-btn"
                   value="Back to Dashboard">
        </div>
    </div>
    <div ng-show="chartVisible">
        <div class="panel panel-primary" id="financial-chart">
            <div class="panel-heading">{{financials.region}} {{financials.type}}</div>
            <div class="panel-body">
                <chart id="chart" title="chartIndicator" chart-type="chartType" xData="chartXData"
                       yData="chartYData" xName="Month" yName="Value" subtitle="Plan and Actual vs Month">
                </chart>
            </div>
        </div>
        <div class="nav-buttons">
            <input ng-click="hideChart()" class="btn btn-primary" type="button" id="back" value="Back">
        </div>
    </div>
</div>
