<div class="financials">
    <div>

        <div class="panel panel-primary" id="financial-data">
            <!-- Default panel contents -->
            <div class="panel-heading" id="utilization-table-header">{{header}}</div>
            <div class="panel-body">
                <!--table-->
                <table class="table table-hover table-striped table-condensed ">
                    <thead>
                    <tr>
                        <th></th>
                        <th ng-repeat="month in months">{{month}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Planned</td>
                        <td ng-repeat="value in plannedUtilization"><input type="number" class="rates-input form-control" ng-model="value.value"></td>
                    </tr>
                    <tr>
                        <td>Actual</td>
                        <td ng-repeat="value in actualUtilization"><input type="number" class="rates-input form-control" ng-model="value.value"></td>
                    </tr>


                    </tbody>
                </table>
                <!--end of table-->
                <input class="btn btn-secondary" type="button" id="save-btn" value="Save">
            </div>
        </div>
        <div>
            <input ng-click="backToDashboard()" class="btn btn-primary" type="button" id="back-btn"
                   value="Back to Dashboard"></div>

    </div>

</div>
